# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Logs
*.log

# OS
.DS_Store
